composer.phar
composer.lock
vendor/
dbadmin-demo/public/jaxon/*js
dbadmin-demo/cache/annotations/*php
docker/data/sqlite/3
docker/data/bin/pgsql/sql/
docker/data/bin/mysql/sql/
.monorepo-split-cache/
