ssl/*
exports/*
sqlite/3/*db
sqlite/3/*sqlite
scripts/seeds/pgsql/sql/
scripts/seeds/mysql/sql/
scripts/secrets/infisical/.infisical.json
tools/aws/*
tools/gcp/*
compose-dbadmin/dbadmin/dbadmin-dev/
compose-tutorial/backpack/app/database.sqlite
